.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}
.contact-title h1{
    padding: 0px 30px;
    font-size: 40px;
    font-weight: 600;
}
.contact-section{
    display: flex;
    gap: 150px;
}
.contact-left{
display: flex;
flex-direction: column;
gap: 30px;
}
.contact-left h1{
font-size: 40px;
font-weight: 700;
background: linear-gradient(264deg, #DF8908 -5%, #B415FF 108%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-left p{
    max-width: 500px;
    color: #d8d8d8;
    font-size: 16px;
    line-height: 40px;
}
.contact-details{
    display: flex;
    flex-direction: column;
    gap: 30%;
    color: #d8d8d8;
    font-size: 18px;
    /* line-height: 20px; */


}
.contact-detail{
    display: flex;
    align-items: center;
    gap:20px ;
    
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-right label{
    color: #d8d8d8;
    font-size: 16px;
    font-weight: 500;
}
.contact-right input{
    border: none;
    width: 400px;
    height: 40px;
    padding-left: 20px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 16px;
}
.contact-right textarea{
    width: 400px;
    border: none;
    padding: 10px;
    border-radius: 4px;
    background: #32323c;
    color: #A0A0A0;
    font-family: Outfit;
    font-size: 16px;
}
.contact-submit{
    padding: 10px 22px;
    border: none;
    color: white;
    border-radius:  50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    /* background-color: aliceblue; */
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;

}
.contact-submit:hover{
    transform: scale(1.08);
}
@media(max-width:768px){
    .contact{
        gap: 40px;
        margin: 50px 50px;
        align-items: start;
    }
    .contact-title h1{
        padding: 0;
        font-size: 25px;
        font-weight: 600;
    }
    .contact-section{
        flex-direction: column;
    }
    .contact-left h1{
        font-size: 22px;

    }
    .contact-left p{
        font-size: 15px;
    }
    .contact-detail{
        gap: 20px;
    }
    .contact-right label{
        font-size: 15px;
    }
.contact-right input{
    width: 95%;
    font-size: 15px;
}
.contact-right textarea{
    width:95% ;
    font-size: 15px;
}

}